* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: antiquewhite;
    padding: 0 10vh;
}

.page-header {
    background-color: aliceblue;
    padding: 30px;
}

.flex {
    display: flex;
}

.content-search {
    justify-content: center;
    padding: 40px;
}

.displayarea-currentday {
    background-color: rgb(20, 218, 218);
    justify-content: space-between;
    align-items: center;
}

.displayarea-forecast {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}